{
  "plugins": [
    "transform-runtime",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "transform-export-extensions"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "9.2"
        }
      }
    ]
  ]
}
